rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, update: if isSignedIn() && request.auth.uid == userId;
      allow create: if isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId}/tiffinOrders/{orderId} {
      allow read, list, create, update, delete: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
